<!DOCTYPE html>
<html>
  <head>
    <title>TvControl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '//vjs.zencdn.net/5.0.2/video-js.css'%>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
